<body>
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg_dark_green">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="home">RecipEat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="pantry">My Pantry<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="search_recipe">Find Recipes</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="recipes_cooking">Your Recipes</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active text-nowrap">
            <div class="dropdown">
                <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <%if (logged) { %>
                        <a class="dropdown-item" href="profile" style="color: black">Profile</a>
                        <a class="dropdown-item" href="/logout" style="color: black">Logout</a>
                    <% } else  { %>
                        <a class="dropdown-item" href="/" style="color: black">Login</a>
                    <% } %>
                </div>
            </div>
            </li>
        </ul>
        </div>
    </nav>